.contact {
  max-width: 878px;
  padding-top: 40px;
  padding-bottom: 20px;

  &__content {
    p {
      span {
        display: block;
        overflow: auto;
      }
    }

    &-block {
      margin-bottom: 40px;
    }

    &-form {
      margin-bottom: 64px;

      .common-form .form-file-upload .file-name {
        width: 100%;
      }

      .form-wrap {
        input[type='submit'], input[type='reset'] {
          width: calc((100% - 32px) / 2);
          min-width: auto;
        }

        input[type='submit'] {
          margin-right: 27px;
        }

        input[type='reset'] {
          background: none;
          border: 1px solid #3251AD;
          color: #3251AD;
        }
      }
    }

    .common-block-product {
      .item {
        &__content {
          padding-bottom: 0;

          h3 {
            color: #333333;
            line-height: 1.33333333;
          }

          p {
            margin-bottom: 20px;
          }

          a {
            color: #3251AD;
            @include font-size(18px);

            &:hover {
              text-decoration: underline;
            }
          }
        }

        &:hover h3 {
          text-decoration: none;
        }
      }
    }
  }

  .popup__map {
    .common__popup-header {
      background: #f2f2f2;
    }
  }

  .popup__success {
    .common__popup-body {
      text-align: center;
      padding: 63px 80px 132px;
      @media #{$info-phone} {
        padding: 30px 30px 66px;
      }
    }
  }
}